@forward '../utility/';
@use '../utility/corners';


.button-container{
    margin-top: 2rem;
    height: 200px;

    .button{
        background-color: #000;
        @include corners.rounded;
        padding: 15px;
        color: #fff;
    }
}