

#footer{
    background-color: #260265;
    height: 150px;
    width: 100vw;
    text-align: center;

    .footer-text{
        padding: 50px;
        font-size: 1.5rem;
        color: #fff;
    }
}