

#main{
    text-align: center;

    .header{
        font-size: 3rem;
    }

    .paragraph{
        font-size: 1.4rem;
    }

    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        width: 100vw;
        border: 2px solid #000;
        background-color: #302f2f;
        color: #fff;
    }

    .box1{
        border: 1px solid #fff;
        height: 250px;
        width: 250px;
    }
    
    .box2{
        border: 1px solid #fff;
        height: 250px;
        width: 250px;
    }

    .box3{
        border: 1px solid #fff;
        height: 250px;
        width: 250px;
    }

    .box4{
        border: 1px solid #fff;
        height: 300px;
        background-color: #302f2f;
    }
}