
#navbar{
    background-color: #2b2828;
    color: #fff;
    display: flex;
    justify-content: space-between;

    .logo, .nav-list, .nav-end {
        padding: 1rem;
    }

    .nav-list li{
        display: inline-block;
        padding: 0 1rem;
    }
}